/* Landscape Tablets */
@media (max-width: 75em) {
  html {
    /* 9px/16px = 56.25% */
    font-size: 56.25%;
  }
  .contentBx {
    padding: 5.2rem 8rem 5.2rem 5.2rem;
  }
}
/* Tablets */
@media (max-width: 59em) {
  html {
    font-size: 50%;
  }
  .contentBx {
    padding: 3.2rem 4.4rem 3.2rem 3.2rem;
  }
}
@media (max-width: 48em) {
  html {
    font-size: 43.75%;
  }
}

/* Mobile */
@media (max-width: 36em) {
  body {
    padding: 9.6rem;
  }
  .stats-preview-card {
    grid-template-columns: 1fr;
    grid-template-rows: 33% 67%;
    max-height: 100%;
  }
  .imgBx {
    grid-row: 1;
  }
  .contentBx {
    text-align: center;
    padding: 4.4rem;
  }
  .content-text {
    margin-bottom: 4.4rem;
  }
  .content-stats {
    flex-direction: column;
    gap: 3.2rem;
  }
}
