*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 1;
  font-weight: 400;
  height: 100vh;
  width: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(233, 47%, 7%);
  padding: 9.6rem;
}
.stats-preview-card {
  max-width: 120rem;

  background-color: hsl(244, 38%, 16%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 1.5rem;
  overflow: hidden;
}
.imgBx {
  position: relative;
  height: 100%;
  width: 100%;
}
.imgBx::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(147, 92, 219, 0.247);
}

.imgBx .img {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.contentBx {
  position: relative;
  max-width: 60rem;
  max-height: 60rem;
  padding: 6.4rem 9.6rem 6.4rem 6.4rem;
}
.header {
  font-size: 3.5rem;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  letter-spacing: 0.15rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}
.header span {
  color: hsl(277, 64%, 61%);
}
.content-text {
  font-size: 1.8rem;
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 1.5;
  margin-bottom: 8rem;
}

.content-stats {
  display: flex;
  gap: 8rem;
}
.flex {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
.flex span:first-child {
  font-family: "Lexend Deca", sans-serif;
  text-transform: uppercase;
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 2.4rem;
  font-weight: 700;
}
.flex span:nth-child(2) {
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
}
